<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 配置service扫描 -->
    <context:annotation-config/>
    <context:component-scan base-package="com.senma.manager.service" />

    <!-- 配置dubbo -->
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="senma-manager-service" />

    <!-- 使用zookeeper注册中心 -->
    <dubbo:registry protocol="zookeeper" address="192.168.61.136:2181" />

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880"/>

    <!-- 声明需要暴露的服务接口 -->
     <dubbo:service interface="com.senma.manager.interfaces.CategoryService"
     ref="categoryService"/>

    <dubbo:service interface="com.senma.manager.interfaces.ItemService"
     ref="itemService"/>
</beans>